@import './base/normalize';
@import './utils/variables';
@import './base/reset';
@import './utils/vhidden';
@import './components/container';
@import './components/social-links';
@import './components/button-style';
@import './components/main-title-sections';
@import './layout/header';
@import './layout/header-logo';
@import './layout/header-navigation';
@import './layout/header-contacts';
@import './layout/hero';
@import './layout/our-qualities';
@import './layout/our-work';
@import './layout/our-team';
@import './layout/regular-clients';
@import './layout/footer';
@import './layout/footer-logo';
@import './layout/footer-address';
@import './layout/footer-social-link';
@import './layout/footer-email';
@import './layout/portfolio';
@import './layout/portfolio-filter';
@import './layout/portfolio-cards';
@import './components/header-navigation-menu';
@import './components/modal-backdrop';
@import './components/modal';
@import './components/modal-form-title';
@import './components/modal-form-name';
@import './components/modal-form-phone';
@import './components/modal-form-email';
@import './components/modal-form-textarea';
@import './components/modal-form-agreement';
@import './components/modal-form-button.scss';
