.footer-icons-wrapper {
  width: 206px;
  height: 80px;
  margin-bottom: 60px;
  // margin-top: 12px;
  // margin-left: 70px;
  @media screen and (min-width: 768px) {
    margin-bottom: 108px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-top: 12px;
  }
}

.footer-icons__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var();
  color: var(--secondary-color);
}

.footer-icon-link {
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--navigation-btn-color);
  }
}

.footer__icon--white {
  fill: var(--secondary-color);
}
