.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation-list {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-navigation__item {
  &:first-child {
    margin-left: 88px;
  }
  &:not(:first-child) {
    margin-left: 50px;
  }
}

.header-navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-first-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--navigation-btn-color);
  }
}

.header__navigation--current-underline::after {
  content: '';
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__navigation--current {
  color: var(--navigation-btn-color);
}
