.our-work-section {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding-bottom: 94px;
  }
}

.our-work__title {
  margin-bottom: 50px;
}
.our-work__list {
  display: flex;
}
.our-work__item {
  position: relative;
}
.our-work__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.our-work__item:not(:last-child) {
  margin-right: 30px;
}
