.menu-button__open {
  display: flex;
  padding: 9px 0;
  border: none;
  background-color: transparent;
}

.navigation-menu__icon {
  background-color: var(--secondary-color);
  border: none;
}

.header-menu {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--secondary-color);
}

.header-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.menu-close__icon {
  color: var(----main-first-color);
}

.navigation-menu-list {
  display: block;
}

.navigation-menu__item {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.navigation-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-first-color);
}

.menu-contacts__list {
  text-align: center;
}

.menu-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-contacts__link-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-second-color);
}

.menu-contacts__link-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--navigation-btn-color);
}

.menu-social-network__list {
  text-align: center;
}

.social-network__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--navigation-btn-color);
}
