.modal-wrapper {
  width: 290px;
  min-height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 20px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-height: 320px) and (max-height: 479px) {
    top: 96%;
  }
  @media screen and (min-height: 480px) and (max-height: 615px) {
    top: 64%;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    padding: 40px 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.backdrope.is-hidden .modal-wrapper {
  transform: scale(0.5) translate(-50%, -50%) rotate(30deg);
}

.modal-close__button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .modal-close__button:hover &,
  .modal-close__button:focus & {
    fill: var(--navigation-btn-color);
  }
}
