.modal-textarea-case {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-textarea__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: var(--main-second-color);
}

.modal_textarea {
  height: 128px;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: var(--main-second-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    border-color: var(--navigation-btn-color);
  }
}
