.social-networks {
  display: flex;
  justify-content: center;
}
.social-networks__item {
  width: 44px;
  height: 44px;

  & + .social-networks__item {
    margin-left: 10px;
  }
}

.social-networks__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
