:root {
  --main-first-color: #212121;
  --main-second-color: #757575;
  --navigation-btn-color: #2196f3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --secondary-color: #ffffff;
  --secondary-other-color: #f5f4fa;
  --icons-main-color: #afb1b8;
}
